@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, MyAssembly
@using BLL
@using static BLL.UtilBLL
@using LabWebMvc.MVC.Interfaces
@using LabWebMvc.MVC.ViewModel
@using LabWebMvc.MVC.Areas.Utils
@model vmPacientes
<partial name='Partials/_PartialMenuPacientes' />
<div class="table-responsive">
    <table id="modeloTable" name="datatable" data-order='[[ 0, "desc" ]]' class="display compact order-column stripe table-hover nowrap">
        <thead>
            <tr>
                <th>Id</th>
                <th>Id Externo</th>
                <th>Nome Paciente</th>
                <th>DT Nascimento</th>
                <th>Sexo</th>
                <th>Documento</th>
                <th>Tipo.Doc</th>
                <th>Telefone</th>
                <th>Opções</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ListaDados)
            {
                @Html.Raw(
                         "<tr>" +
                         "<td style='width: 03%;'>" + item.Id + "</td>" +
                         "<td style='width: 03%;'>" + item.IdPacienteExterno + "</td>" +
                         "<td style='width: 15%;'>" + item.NomePaciente + "</td>" +
                         "<td style='width: 03%;'>" + FormataData(item.Nascimento) + "</td>" +
                         "<td style='width: 03%;'>" + item.Sexo + "</td>")
                ;
                @if ((int)item.TipoDocumento == 0)
                {
                    @Html.Raw(
                             "<td class='nowrap' style='width: 6%;'>" + item.CPF + "</td>")
                    ;
                }
                else
                {
                    @Html.Raw(
                             "<td class='nowrap' style='width: 6%;'>" + item.Identidade + "</td>")
                    ;
                }
                @Html.Raw(
                         "<td style='width: 07%;'>" + Utils.RetornaItem(item.TipoDocumento, "TipoDocumento") + "</td>" +
                         "<td style='width: 05%;'>" + item.Telefone + "</td>" +
                         "<td class='grid_fundo_opcoes'>" +
                         "<a id=" + item.Id + " class='grid_itens' onclick=clickConsulta(this) title='Consultar'><i class='fa-sharp fa-solid fa-display'></i> </a>" +
                         "<a id=" + item.Id + " class='grid_itens' onclick=clickExames(this) title='Exames Realizados'><i class='fa-sharp fa-solid fa-file-medical'></i> </a>" +
                         "<a id=" + item.Id + " class='grid_itens' onclick=clickAlterar(this) title='Alterar'><i class='fa-sharp fa-solid fa-file-pen'></i> </a>" +
                         "<a id=" + item.Id + " class='grid_itens' onclick=clickDelete(this) title='Excluir'><i class='fa-sharp fa-solid fa-trash-can'></i> </a>" +
                         "</td>" +
                         "</tr>")
                ;
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Id Externo</th>
                <th>Nome Paciente</th>
                <th>DT Nascimento</th>
                <th>Sexo</th>
                <th>Documento</th>
                <th>Tipo.Doc</th>
                <th>Telefone</th>
                <th id="op">Opções</th>
            </tr>
        </tfoot>
    </table>
</div>
@section Scripts {
    <div class="toolbar"><partial name='_PartialDatatables' /></div>
    <partial name="_ValidationScriptsPartial" />
}
<script>
    //ACTIONS ICONS
    function clickConsulta(x) {
        var url = "ConsultarPaciente?id=" + x.id;
        window.open(url, "_self")
        //window.location.href = '@Url.Action("ConsultarPaciente", "Pacientes")?id=' + x.id;
    }
    function clickExames(x) {
        alert("Em desenvolvimento - Exames Realizados: " + x.id);
        //window.location.href = '@Url.Action("ExamesPaciente", "Pacientes")?id=' + x.id;
    }
    function clickAlterar(x) { //OK
        window.location.href = '@Url.Action("AlterarPaciente", "Pacientes")?id=' + x.id;
    }
    function clickDelete(x) {
        //"x" é a linha toda da tag (tem que passar a linha TODA de "x")
        //x.id é somente o "id" na tag da linha
        return clickConfirm(x, null, "Excluir paciente?", null, "ExcluirPaciente");
    };
</script>