@page
@using static BLL.UtilBLL
@using LabWebMvc.MVC.ViewModel
@model vmPlanoExames
@{
    Layout = "_Layout";
}
<style>
    label {
        color: gray;
    }

    .wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; /* até 3 colunas em cada wrapper */
    }

    .campo {
        display: flex;
        border: none;
        background-color: inherit;
        color: black;
        font-size: small;
    }

    .border0 {
        border: none;
        appearance: none; /* retira qualquer símbolo e formatação do drop down */
        -webkit-appearance: none;
        background-color: inherit;
    }

    .width300 {
        width: 300px;
    }
</style>
<script>
    $(document).ready(function () {
        $(".close").click(function (event) {
            event.preventDefault();
            window.location.href = 'PlanoExamesItens';
        });
    });
</script>
<!-- Trigger/Open The Modal -->
<div id="myModal" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@ViewBag.TextoMenu[0]</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
            <!-- Linha 1 -->
            <div class="wrapper">
@*                 
    ///TODO/// PRECISA COMPLEMENTAR COM OS DADOS DOS PREÇOS QUANDO TIVER PRONTA A TABELA
 *@
                <div>
                    @Html.Label("Conta Exame")
                    @Html.TextBoxFor(p => p.ContaExame, new { @class = "campo", @disabled = "disabled" })
                </div>
                <div>
                    @Html.Label(null, "Tabela de Exames", new { @class = "" })
                    @Html.TextBoxFor(p => p.Id, new { @class = "campo width300", @disabled = "disabled" })
                </div>
                <div>
                    @Html.Label(null, "Tabela Preços", new { @class = "" })
                    @Html.TextBoxFor(p => p.TabelaExamesId, new { @class = "campo width300", @disabled = "disabled" })
                </div>
            </div>
            <!-- Linha 2 -->
            <div class="wrapper">
                <div>
                    @Html.Label("Folha")
                    @Html.TextBoxFor(p => p.RefExame, new { @class = "campo", @disabled = "disabled" })
                </div>
                <div>
                    @Html.Label("Principal")
                    @Html.TextBoxFor(p => p.RefItem, new { @class = "campo", @disabled = "disabled" })
                </div>
                <div>
                    @Html.Label("Item")
                    @Html.TextBoxFor(p => p.Descricao, new { @class = "campo", @disabled = "disabled" })
                </div>
            </div>
            <!-- Linha 3 -->
            <div class="wrapper">
                <div>
                    @Html.Label("Unidade de Medida")
                    @Html.TextBoxFor(p => p.UnidadeMedida, new { @class = "campo", @disabled = "disabled" })
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Meu JS (sempre no final) para poder renderizar junto com a página -->
<script src="@Url.Content("~/js/site.js")" type="text/javascript"></script>
<!-- Fim da página do Modal -->
